<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>ログインフォーム</h2>
                <div class="box">
                    <%= form_for(:session, url: login_path) do |f| %>
                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control', placeholder: 'admin@rails.com'%>
                    </div>
                    <div class="form-group">
                        <%= f.label :password, 'パスワード' %>
                        <%= f.password_field :password, class: 'form-control', placeholder: "foobar" %>
                    </div>
                    <div class="col-8 offset-2">
                        <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>まだ会員登録をしていない方へ</h2>
                <div class="box">
                    <p>会員登録がお済みではない方はこちらより登録可能です。</p>
                    <div class="col-8 offset-2">
                        <%= link_to "無料会員登録画面へ",signup_path , class: 'btn btn-secondary  btn-block' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>