<div class="box_profile">
    <div class="row">
        <div class="col-lg-3 mb-3">
            <div>
                <%= image_tag 'usersample.png',size: '150x150' %>
            </div>
            <% if current_user.id != user.id %>
            <% if user.followed_by?(current_user) %>
            <%= link_to "フォロー済み",user_relationships_path(user.id), method: :delete , class: 'btn btn-outline-secondary btn-block mx-3 mt-4' %>
            <% else %>
            <%= link_to "フォローする", user_relationships_path(user.id), method: :post , class: 'btn btn-outline-primary btn-block mx-3 mt-4' %>
            <% end %>
            <% else %>
            <%= link_to "いいね一覧",favorites_user_path(current_user), method: :get , class: 'btn btn-outline-secondary btn-block mx-3 mt-4' %>
            <% end %>
            <%= link_to "フォロー一覧",user_relationships_path(user.id), method: :get , class: 'btn btn-outline-secondary btn-block mx-3 mt-4' %>
            <%= link_to "フォロワ−一覧",user_relationships_path(user.id), method: :get , class: 'btn btn-outline-secondary btn-block mx-3 mt-4' %>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mx-2">名前</h2>
                    <p class="mx-2"><%= user.name %></p>
                </div>
                <div class="col-lg-6">
                    <h2 class="mx-2">email</h2>
                    <p class="mx-2"><%= user.email %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mx-2">フォロー数</h2>
                    <p class="mx-2"><%= Relationship.where(following_id: user.id).count %></p>
                </div>
                <div class="col-lg-6">
                    <h2 class="mx-2">フォロワー数</h2>
                    <p class="mx-2"><%= Relationship.where(follower_id: user.id).count %></p>
                </div>
            </div>
            <div>
                <h2 class="mx-2 mt-2">自己紹介文</h2>
                <p class="mx-2"><%= user.profile %></p>
                <div class="row col-6 offset-3">
                    <% if current_user.id == user.id %>
                    <%= link_to "プロフィール編集", edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block my-2' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>