<% @user  = User.find(session[:user_id]) %>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="box2">
                <div class="row">
                    <div class="col-3">
                        <%= image_tag 'usersample.png',size: '150x150'%>
                    </div>
                    <div class="col-5">
                        <h2>プロフィール</h2><%= @user.name%>
                    </div>
                    <div class="col-4">
                        <h2>email</h2><%= @user.email%>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="box1">
                        <p>おすすめゲーム</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="box3">
                        <h2>投稿フォーム</h2>
                        <div class="mx-5">
                            <%= link_to "いまなにしていますか？",boards_path, class: 'btn btn-outline-secondary btn-block' %>
                        </div>
                    </div>
                    <div class="box3">
                        <% if @user.boards.any? %>
                        <h2>投稿一覧</h2>
                        <%= paginate @boards %>
                        <div class="mx-1">
                            <%= render @boards %>
                            <% end %>
                        </div>
                        <%= paginate @boards %>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'layouts/right' %>
    </div>
</div>

