<body>
    <div class="container">
        <div class="row">
            <%= render 'layouts/left' %>
            <div class="col-lg-6">
                <div class="box3">
                    <h2>投稿フォーム</h2>
                    <div class="mx-5">
                        <%= link_to "いまなにしていますか？",new_board_path,class: 'btn btn-outline-secondary btn-block my-3' %>
                    </div>
                </div>
                <h2>投稿一覧</h2>
                <%= paginate @boards %>
                <% @boards.each do |board|%>
                <%= render board %>
                <% end %>
                <%= paginate @boards %>
            </div>
            <%= render 'layouts/right' %>
        </div>
    </div>
</body>