<% provide(:title, "投稿詳細") %>

    <div class="container">
        <div class="row">
            <%= render 'layouts/left' %>
            <div class="col-lg-6">

                <h2>投稿詳細</h2>
                <%= render 'board', board: @board %>
                <%= render "comments/form" %>

                <h2 class="mt-3">コメント一覧</h2>
                <% @comments.each do |comment|%>
                <%= render comment %>
                <% end %>

            </div>
            <%= render 'layouts/right' %>
        </div>
    </div>
