<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <%= link_to "GameBoard", root_path,class: "navbar-brand" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown">

                <%= form_tag boards_path, method: :get, class: 'dropdown' do %>
                <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み',
                       class: 'form-control boards__select　dropdown-item',
                       onchange: 'submit(this.form);'
                     }
                %>
                <% end %>


            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <% if logged_in? %>
                    <li class="nav-item mx-2"><%= link_to "プロフィール", current_user, class: "nav-link" %></li>
                    <li class="nav-item mx-2"><%= link_to "投稿一覧", boards_path,class: "nav-link" %></li>
                    <li class="nav-item mx-2"><%= link_to "ユーザー一覧", users_path,class: "nav-link" %></li>
                    <% else %>
                    <li class="nav-item mx-2"><%= link_to "新規登録", new_user_path, class: "nav-link"  %></li>
                    <li class="nav-item mx-2"><%= link_to "ログイン", login_path, class: "nav-link"  %></li>
                    <% end %>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <% if logged_in? %>
                        <li class="nav-item"><%= link_to "ログアウト",logout_path,class: "nav-link", method: :delete %></li>
                        <% else%>
                        <%end%>
                        <div class="form-inline my-2 my-lg-0">
                            <%= form_tag boards_path, method: :get do %>
                            <%= text_field_tag :keyword, "" ,placeholder: "入力してください", class: "form-control mr-sm-2" %>
                            <%= submit_tag '検索', class: "btn btn-outline-success my-2 my-sm-0" %>
                        </div>
                        <% end %>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
</header>